/*****************************************/
/*BASIC SETUP*/
/*****************************************/

/* Color: #f39c12 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{zoom:1}
.clearfix:after{
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

section{
    padding: 40px;
}
    
/*****************************************/
/*REUSABLE COMPONENTS*/
/*****************************************/

.row{
    margin: 0 auto;
    max-width: 1140px;
}

.box{
    padding: 1%;
}

/***** HEADING *****/

h1, h2{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 150%;
    word-spacing: 2px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 400;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "\A"; /*no words will appear*/
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/***** PARAGRAPH *****/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    line-height: 145%;
    font-size: 90%;
}

/***** ICONS *****/

.icons-big{
    font-size: 400%;
    color: #f39c12;
    margin-bottom: 10px;
    display: block;
}

.icons-small{
    color: #f39c12;
    font-size: 120%;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 100%;
    
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/***** LINK *****/

a:visited,
a:link{
    text-decoration: none;
    color:#f39c12;
    border-bottom: 1px solid #f39c12;
    padding-bottom: 1px;
    transition: border-bottom .1s, color .1s;
}

a:active,
a:hover{
    color: #555;
    border-bottom: transparent;
}

/***** BUTTON *****/

.btn:link,
.btn:visited,
input[type=submit]{
    padding: 10px 30px;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color .15s, color .2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #f39c12;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #b87409;
    color: #f39c12;
}

.btn:hover,
.btn:active{
    background-color: #b87409;
    color: #fff;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #b87409;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #b87409;
    color: #fff;
}

/*****************************************/
/* HEADER */
/*****************************************/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/***** NAVIGATION *****/

.main-nav{
    margin-top: 40px;
    float: right;
    list-style: none;
}

.main-nav li {
    margin-left: 40px;
    display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding-bottom: 1px;
    transition: border-bottom .2s, padding-bottom .2s;
}

.main-nav li a:active,
.main-nav li a:hover{
    padding-bottom: 4px;
    border-bottom: 2px solid #f39c12;
}

/*Sticky nav*/

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.main-nav {margin-top: 15px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #555;
    padding: 16px 0;
}

.sticky .logo{display: none;}
.sticky .logo-black{display: block;}

/*****************************************/
/* FEATURES */
/*****************************************/

.section-feature .long-copy{
    margin-bottom: 40px;
}

section .row {
    margin-top: 20px;
}

/*****************************************/
/* MEALS */
/*****************************************/

.section-meal{
    padding: 0;
}

.meals-showcase{
    width: 100%;
    list-style: none;
}

.meals-showcase li{
  width: 25%;
    display: block;
    float: left;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img{
    opacity: .7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform .4s, opacity .4s;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

/*****************************************/
/* HOW IT WORKS */
/*****************************************/

.section-steps{
    background-color: #f4f4f4;
}

.steps-box:first-child{
    padding-right: 40px;
    text-align: right;
    margin-top: 30px;
}
    
.steps-box:last-child{
    padding-left: 40px;
    margin-top: 40px;
}

.app-screen{
    width: 40%;
}

.works-step{
    margin-bottom: 60px;
}

.works-step:last-of-type{
    margin-bottom: 100px;
}

.works-step div{
    color: #f39c12;
    height: 50px;
    width: 50px;
    border: 2px solid #f39c12;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    float: left;
    font-size: 150%;
    padding: 5px;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*****************************************/
/* CITIES */
/*****************************************/

.section-cities img{
    width: 100%;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

/*****************************************/
/* TESTIMONIALS */
/*****************************************/

.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    margin-top: 40px;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote::before {
    font-size: 400%;
    content: "\201C";
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/*****************************************/
/* SIGNS UP */
/*****************************************/

.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    margin-left: 5px;
    border-radius: 5px;
    width: 90%;
    box-shadow: 0 2px 2px #e3e3e3;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.plan-box div:first-child{
    background-color: #fdfdfd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
}

.plan-price{
    color: #f39c12;
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

/*****************************************/
/* FORM */
/*****************************************/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea,
select{
    padding: 7px;
    width: 100%;
    border-radius: 3px;
}

textarea{
    height: 100px;
}

input[type=submit]{
    border: none;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{outline: none;}

/*****************************************/
/* FOOTER */
/*****************************************/
footer{
    background-color: #333;
}

.footer-nav{
    float: left;
}

.social-links{
    float: right;
}

.footer-nav li,
.social-links li{
    list-style: none;
    margin-right: 15px;
    display: inline-block;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    border-bottom: transparent;
    color: #888;
    transition: color .2s;
}


.footer-nav li a:hover,
.footer-nav li a:active
{
    color: #fff;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 180%;
}

.ion-logo-facebook:hover{
    color: #3b5998;
}

.ion-logo-twitter:hover{
    color: #1da1f2;
}

.ion-logo-googleplus:hover{
    color: #db4437;
}

.ion-logo-instagram:hover{
    color: #c32aa3;
}

footer p {
    text-align: center;
    margin-top: 30px;
}

/*****************************************/
/* ANIMATION */
/*****************************************/

.js--wp-1, 
.js--wp-2, 
.js--wp-3,
.js--wp-4
{
    opacity: 0;
}

.js--wp-1.animated, 
.js--wp-2.animated, 
.js--wp-3.animated,
.js--wp-4.animated{
    opacity: 1;
}

